*.cov
Session.vim
docs/build/*
test/params.json
test/test_outputs/full_out.jl

lcov.info

params.json
test/test_outputs/full_out.log
ltex.dictionary.en-GB.txt
ltex.disabledRules.en-GB.txt
ltex.hiddenFalsePositives.en-GB.txt
test/test_outputs/full_out.jld2
profile.pb.gz
JuliaSysimage.so
data
test/test_inputs
Manifest.toml
/HighSpeedSinteringSimulations.pdf
